@font-face {
    font-family: Averta;
    src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}

* {
    box-sizing: border-box;
    font-family: Averta, sans-serif;
}


body {
    height: 320vh;

}

hr {
    margin: 0px 30px 0px 30px;
}

/***********Beginning of Team page styling*************/

.heroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 100%;
    background-image: url(hero-bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: -10px 0px 0px 0px;
}

.topContainer {
    margin-top: 100px;
}


div h2 {
    color: #514949;
    font-size: 35px;
}

.topMsg {

    margin: 1px 200px 70px 200px;
    padding: 1px 95px 1px 95px;
    text-align: center;
    color: #514949;
    font-size: 16px;
}

.topMsg span {
    color: red;
}



.topBtn button {
    border: 1px solid red;
}

.btn1 {
    color: white;
    background-color: red;
    height: 50px;
    width: 250px;
}

.btn1:hover {
    background-color: white;
    color: red;
}

.btn2 {
    color: red;
    background-color: white;
    height: 50px;
    width: 250px;
}

.btn2:hover {
    background-color: red;
    color: white;
}

.middleContainer {
    display: flex;
    justify-content: center;
}


.middleContainer div h3 {
    color: red;
}


.sloganContainer {
    margin: 100px 0px 0px 0px;
}

.sloganContainer h3 {
    text-align: center;
}


.slogan {
    text-align: center;
    color: #514949;
    font-size: 20px;
}


.housing {

    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
}


.housing img {
    width: 350px;
    height: 500px;
}





.threeBoxes {
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    margin: -400px 60px 60px 60px;

}


.threeBoxes div {
    border: 1px solid #fef9ef;
    background-color: #fef9ef;
    margin: 0px 10px 0px 10px;
    padding: 50px 25px 75px 40px;
    color: #514949;
    font-size: 16px;
}

.threeBoxes span {
    color: red;
}

.pageLinker {
    text-decoration: none;
}




.topFooter {
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-around;
    margin: 200px 0px 0px 0px;
}

.contactIcons {
    display: flex;
}

#fHeader {
    font-weight: bolder;
}



.bottomFooter {
    display: flex;
    justify-content: center;
}

.bottomFooter p {
    font-weight: bolder;
}


.contactIcons img {
    width: 18px !important;
    margin-right: 5px;


}

.topFooter span {
    color: red;
}


footer hr {
    opacity: 0.2;
    border: 0.7px solid #514949;
}

/***********End of Team page styling************/






/*********** Beginning of Talent page styling ***********/

.navTalentPage {
    /* border-bottom: #fef9ef 1px solid; */
    display: flex;
    justify-content: space-between;
    padding: 0px 75px 0px 75px;
    position: sticky;
    top: 0px;
    background-color: white;
    height: 110px;
}

.navLogo {
    flex-grow: 1;
    padding: 40px 0px 0px 0px;
}

.navLinks {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 0.4;
    /* padding: 0px 0px 10px 0px; */
}


.navLinks a {
    text-decoration: none;
    color: #514949;
}

.navLinks button {
    border: 1px solid rgb(233, 5, 5);
    background-color: rgb(233, 5, 5);
    color: white;
    height: 40px;
    width: 150px;
    border-bottom-right-radius: 10px;

}



.talentFirstSection {
    display: flex;
    justify-content: space-between;
    margin: 110px -25px 0px 70px;
    background-color: white;
    height: 500px;

}

.talentBoxOne {
    /* border: 1px solid black; */
    padding: 90px 0px 0px 20px;
    color: #a1a0a0;
    font-size: 1.2rem;
    font-weight: lighter;
}

.vetted {
    color: black;
    font-size: 2.5rem;
    font-weight: 1000;
}


.vetted span {
    color: rgb(233, 5, 5);
}


.vetted img {
    position: relative;
    top: 18px;
    left: -112px;
}

.talentMsg {
    font-weight: 20;
    /*************/
}


.talentBoxTwo img {
    height: 450px;
    width: 400px;
}

.line img {
    height: 100px;
    width: 170px;
    position: relative;
    top: 90px;
    left: -40px;
}

.line2 img {
    position: relative;
    top: -25px;
    left: -10px;
}


.boxOnebtn1 {
    color: white;
    background-color: rgb(233, 5, 5);
    border: 1px solid rgb(233, 5, 5);
    height: 40px;
    width: 200px;
    border-bottom-right-radius: 10px;
}

.boxOnebtn2 {
    background-color: #514949;
    border: 1px solid #514949;
    color: white;
    height: 40px;
    width: 200px;
    border-bottom-right-radius: 10px;

}



.talentSecondSection {
    padding-top: 30px;
    background-image: url("bgsection2.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.talentBoxThree {
    /* border: 1px solid black; */
    color: black;
    font-size: 2.5rem;
    font-weight: 1000;
    margin-top: 100px;
}


.thousands {
    color: rgb(233, 5, 5);
}

.undertxt {
    font-size: 1.1rem;
    line-height: 30px;
    font-weight: 100;
}

.undertxt span {
    color: #a1a0a0;

}

.flag {
    background-color: white;
    border: 1px solid white;
    padding: 6px 15px 6px 15px;
    border-radius: 10px;

}

.talentBoxFour {
    /* border: 1px solid black; */
    padding: 30px 0px 0px 30px;
    margin: 20px 0px 0px 30px;
}

.talentBoxFour img {
    height: 400px;
    width: 400px;
}


.talentThirdSection {
    color: black;
    font-size: 2.5rem;
    font-weight: 1000;
    margin: 100px 0px 0px 70px;
    /* border: 1px solid #514949; */
    height: 550px;


}


#talent3 {
    color: rgb(233, 5, 5);
}

.skill {
    color: #a1a0a0;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 0.49em;
    font-weight: 50;
    padding: 12px 20px 12px 20px;
    box-shadow: 0px 15px 20px rgb(233, 227, 240);
    display: inline-block;

}

.skill:hover {
    cursor: pointer;
    box-shadow: 0px 15px 20px #fef9ef;
    transform: translateY(-0.50em);
    transition: 0.2s;
}

.employer {
    color: #a1a0a0;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 0.49em;
    font-weight: 50;
    padding: 12px;
    box-shadow: 0px 15px 20px rgb(233, 227, 240);
    display: inline-block;
}

.employer:hover {
    cursor: pointer;
    box-shadow: 0px 15px 20px #fef9ef;
    transform: translateY(-0.50em);
    transition: 0.2s;
}


.talentFourthSection {
    padding: 60px 0px 0px 70px;
    /* border: #514949 1px solid; */
    height: 900px;
    background-color: #fefae0;
    /* display: flex;
    justify-content: center; */
}

#cards {
    border-bottom-right-radius: 10px;
    background-color: white;
    border: 1px solid white;
    padding: 20px 50px 50px 50px;
    align-items: center;
}

#cards:hover {
    background-color: rgb(34, 28, 28);
    color: white;
}

.talentFourSectionHeader {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 1000;
    margin-bottom: 20px;
}

.talentfour {
    color: rgb(233, 5, 5);
}


.talentCards1 {
    display: flex;
    height: 300px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid #514949; */
    gap: 20px;
    margin: 0px 0px 0px 0px;

}

.talentCards2 {
    display: flex;
    height: 300px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid #514949; */
    gap: 20px;
    margin: -150px 0px 0px 0px;

}


.rope {
    position: relative;
    top: -30px;
    left: -90px;
}


.card1 {

    background-color: red;
    height: 270px;
    width: 370px;

}

.card2 {

    background-color: rebeccapurple;
    height: 270px;
    width: 370px;
}

.card3 {

    background-color: royalblue;
    height: 270px;
    width: 370px;
}

.card4 {

    background-color: rosybrown;
    height: 270px;
    width: 370px;
}

.card5 {

    background-color: aqua;
    height: 270px;
    width: 370px;
}



.talentbottombtn {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.talentFooter {
    height: 200px;
    background-color: rgb(34, 28, 28);
}


.talentBottom1 {
    display: flex;
    justify-content: space-between;
    padding: 50px 70px 0px 70px;
}

.talentBottom2 {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 70px 70px 0px 70px;
}

.talentContactIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}

.talentContactIcons img {

    width: 35px;
    height: 30px;
}

/*********** End of Talent page styling ***********/







/*********** Beginning of Training page styling ***********/


.navTrainingPage {
    /* border-bottom: #fef9ef 1px solid; */
    display: flex;
    justify-content: space-between;
    padding: 0px 75px 0px 75px;
    position: sticky;
    top: 0px;
    background-color: white;
    height: 110px;
    /* background-color: #fef9ef; */
    font-size: 19px;
}

.navLogoTraining {
    flex-grow: 0.2;
    padding: 40px 0px 0px 0px;
}

.navLinksTraining {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0.5;
    /* padding: 0px 0px 10px 0px; */
}


.navLinksTraining a {
    text-decoration: none;
    color: #514949;
}

.navLinksTraining button {
    border: 1px solid rgb(233, 5, 5);
    background-color: rgb(233, 5, 5);
    color: white;
    height: 40px;
    width: 150px;
    border-bottom-right-radius: 10px;

}


#enroll {

    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;

}

.enrollNow {
    background-color: rgb(233, 5, 5);
    height: 45px;
    width: 250px;
    position: relative;
    top: 2px;
    left: -10px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.enrollNow a {
    color: white;
}


.thumb {
    background-color: rgb(233, 5, 5);
    border-radius: 50%;
    height: 78px;
    width: 115px;
    color: white;

}

#enroll img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 13.8px;
    left: 13.8px;

}



.trainingFirstSection {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    margin: 70px 5px 50px 5px;
}

.trainingFirstSection img {
    /* background-color: #fef9ef; */
}


.lady1 img {
    height: 350px;
    width: 380px;

}

.male1 img {
    height: 350px;
    width: 380px;


}

.maleFace img {
    width: 65px;
    height: 65px;
    position: relative;
    top: -70px;
    left: 350px;
}


.trainingFirstSection button {
    background-color: rgb(233, 5, 5);
    color: white;
    width: 200px;
    height: 50px;
    border: 1px solid rgb(233, 5, 5);
    border-radius: 25px;
    font-size: 18px;
}

.trainingCaptionTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.trainingCaption1 {
    color: rgb(233, 5, 5);
    font-size: 20px;
    font-weight: 100;
}

.trainingCaption2 {
    font-size: 46px;
    font-weight: 900;
}

.trainingCaption3 {
    font-size: 18.5px;
    font-weight: 100;
    color: #514949;
}

.section1wire {
    position: relative;
    top: -5px;
    left: 100px;
    height: 110px;
}


.trainingSecondSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px -10px 20px;
}


.trainingBox1 {
    font-weight: 900;
    font-size: 25px;
}

.trainingBox2 img {
    width: 220px;
    height: 200px;
}

.trainingBox3 {
    font-size: 25px;
}

.trainingBox3 span {
    color: rgb(5, 233, 108);
    text-decoration: underline;
    font-weight: 100;
}

.trainingThirdSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 300px 0px 30px;
}

.trainingThirdSection p:nth-of-type(1) {
    color: rgb(233, 5, 5);
    font-size: 30px;
}

.trainingThirdSection p:nth-of-type(2) {
    color: black;
    font-size: 40px;
    font-weight: 900;
}

.section3wire {
    height: 80px;
    position: relative;
    top: 60px;
    left: 300px;
}

.star {
    height: 200px;
    width: 200px;
}



.trainingCardsSection1 {
    /* border: 1px solid black; */
    height: 500px;
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trainingCardsSection1 div {
    /* border: 1px solid black; */
    height: 450px;
    width: 400px;
    padding: 0px 50px 50px 50px;
    box-shadow: 0px 15px 20px rgb(233, 227, 240);
}

.trainingCardsSection1 div:nth-of-type(1) {
    background-color: rgb(233, 5, 5);
    border: 1px solid rgb(233, 5, 5);
    color: white;
}

.trainingCardsSection1 div:nth-of-type(1n) {
    border-radius: 20px;
}

.trainingCardsSection1 span {
    font-size: 40px;
    font-weight: 900;
}

.trainingCards1 p:nth-of-type(1) {
    font-size: 40px;
    font-weight: 900;
}

.trainingCards1 p:nth-of-type(2) {
    font-size: 18.5px;

}

.trainingCards2 p:nth-of-type(1) {
    font-size: 40px;
    font-weight: 900;
}

.trainingCards2 p:nth-of-type(2) {
    font-size: 18.5px;
    color: #514949;

}

.trainingCards3 p:nth-of-type(1) {
    font-size: 40px;
    font-weight: 900;
}

.trainingCards3 p:nth-of-type(2) {
    font-size: 18.5px;
    color: #514949;

}


.trainingCards4 p:nth-of-type(1) {
    font-size: 40px;
    font-weight: 900;
}

.trainingCards4 p:nth-of-type(2) {
    font-size: 18.5px;
    color: #514949;

}


.trainingCards5 p:nth-of-type(1) {
    font-size: 40px;
    font-weight: 900;
}

.trainingCards5 p:nth-of-type(2) {
    font-size: 18.5px;
    color: #514949;

}


.trainingCards6 p:nth-of-type(1) {
    font-size: 40px;
    font-weight: 900;
}

.trainingCards6 p:nth-of-type(2) {
    font-size: 18.5px;
    color: #514949;

}



.trainingCards1:hover {
    transform: translateY(-0.80em);
    cursor: pointer;
    transition: 0.4s;
}

.trainingCards2:hover {
    transform: translateY(-0.80em);
    cursor: pointer;
    transition: 0.4s;
}

.trainingCards3:hover {
    transform: translateY(-0.80em);
    cursor: pointer;
    transition: 0.4s;
}

.trainingCards4:hover {
    transform: translateY(-0.80em);
    cursor: pointer;
    transition: 0.4s;
}

.trainingCards5:hover {
    transform: translateY(-0.80em);
    cursor: pointer;
    transition: 0.4s;
}

.trainingCards6:hover {
    transform: translateY(-0.80em);
    cursor: pointer;
    transition: 0.4s;
}



.trainingCardsSection2 {
    /* border: 1px solid black; */
    height: 500px;
    margin: -20px 0px 20px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trainingCardsSection2 div {
    border: 1px solid rgba(230, 224, 224, 0.726);
    height: 450px;
    width: 400px;
    padding: 0px 50px 50px 50px;
    background-color: white;
    box-shadow: 0px 15px 20px rgb(233, 227, 240);
}

.trainingCardsSection2 div:nth-of-type(1n) {
    border-radius: 20px;
}


.trainingCardsSection2 span {
    font-size: 40px;
    font-weight: 900;
}

.trainingCards2 {
    background-color: white;
    border: 1px solid rgba(230, 224, 224, 0.726);
}


.trainingCards3 {
    background-color: white;
    border: 1px solid rgba(230, 224, 224, 0.726);
}

.trainingCards1 img {
    position: relative;
    top: -1.9px;
    left: 172px;
    height: 125px;
}

.trainingCards2 img {
    position: relative;
    top: -1.9px;
    left: 172px;
    height: 125px;
}

.trainingCards3 img {
    position: relative;
    top: -1.9px;
    left: 172px;
    height: 125px;
}

.trainingCards4 img {
    position: relative;
    top: -1.9px;
    left: 162px;
    height: 125px;
}

.trainingCards5 img {
    position: relative;
    top: -1.9px;
    left: 164px;
    height: 125px;
}

.trainingCards6 img {
    position: relative;
    top: -1.9px;
    left: 162px;
    height: 125px;
}


.trainingFifthSection {
    background-color: rgb(233, 5, 5);
    height: 1050px;
    margin: 100px 0px 50px 0px;
    color: white;
    padding: 100px 80px 20px 80px;
    display: flex;
}


.trainingFifthSection p:nth-of-type(1) {
    font-size: 18.5px;
    font-weight: 100;
}

.trainingFifthSection p:nth-of-type(2) {
    font-size: 40px;
    font-weight: 900;
}

.trainingFifthSection p:nth-of-type(3) {
    font-size: 20px;
    font-weight: 100;
}

.trainingFifthSection button {
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color: white;
    color: rgb(233, 5, 5);
    border: 1px solid white;
    border-radius: 20px;
}

.valueSet1 {
    /* border: 1px solid white; */
    display: flex;
    width: 550px;
    margin: 50px 0px 50px -10px;
    justify-content: space-between;
}


.valueSet1 button {
    border: 2px solid white;
    height: 70px;
    width: 250px;
    border-radius: 35px;
    background-color: rgb(233, 5, 5);
    color: white;
    /* text-align: center; */
}

.valueSet1 img {
    position: relative;
    top: 0px;
    left: -30px;
}

.valueSet2 img {
    position: relative;
    top: 0px;
    left: 5px;
}

.valueSet2 {
    /* border: 1px solid white; */
    display: flex;
    width: 550px;
    margin: 5px 0px 50px -10px;
    justify-content: space-between;
}

/* .valueSet2 button {
    border: 2px solid white;
    height: 70px;
    width: 250px;
    border-radius: 35px;
    background-color: rgb(233, 5, 5);
    color: white;
    text-align: center;
} */

.valueSet2 div {
    border: 2px solid white;
    height: 70px;
    width: 250px;
    border-radius: 35px;
    background-color: rgb(233, 5, 5);
    color: white;
    text-align: center;

}

.dotSection5 {
    margin-left: -40px;
}

.dotSection5 img {
    height: 110px;
    width: 150px;
}

.section5Img img {
    height: 600px;
    width: 700px;

}

.trainingSection6 {
    height: 1300px;
    background-color: #fef9ef;
}

.section6Cards1 div {
    border: 1px solid rgba(247, 239, 239, 0.699);
    height: 320px;
    width: 400px;
    border-radius: 25px;
    background-color: white;
    padding: 10px 25px 10px 25px;
    box-shadow: 0px 15px 20px rgb(240, 195, 237);

}

.section6Cards2 div {
    border: 1px solid rgba(247, 239, 239, 0.699);
    height: 310px;
    width: 400px;
    border-radius: 25px;
    background-color: white;
    padding: 10px 25px 10px 25px;
    box-shadow: 0px 15px 20px rgb(240, 195, 237);

}

.section6Cards1 {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 0px 50px;

}

.section6Cards2 {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin: 50px 50px 0px 50px;
}




/*  */

.sectionwire5 img {
    position: relative;
    top: 240px;
    left: 340px;
    color: black;
    height: 80px;
}

.section6Caption {
    margin: -50px 0px 0px 70px;
}

.section6Img img {
    height: 150px;
    position: relative;
    top: 0px;
    left: 500px;
}

.trainingSection6 div p>span {
    color: rgb(233, 5, 5);
    font-size: 25px;
}

.section6Caption p {
    color: black;
    font-size: 40px;
    font-weight: 900;
}

.section6Cards img {
    height: 67px;
    width: 67px;
}

.trainingBtn6 {
    display: flex;
    justify-content: center;
}

.trainingBtn6 button {
    border: 1px solid rgb(233, 227, 240);
    background-color: rgb(233, 5, 5);
    color: white;
    height: 45px;
    width: 150px;
    border-radius: 30px;
    font-size: 18px;
}



.section7wire img {
    height: 100px;
    position: relative;
    top: 50px;
    left: 200px;
}